
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

.banner-photo {
  background-position: center;
  background-size: cover;
  /*background-image: url("/w3images/mac.jpg");*/
  background-image: url("../images/photo-james-SR.jpg");
  min-height: 60%;
  min-width: 100%;
}

.bg-portrait-photo {
  background-position: center;
  background-image: url("../images/photo-james-4x3.jpg");
  object-fit: cover;
}

.w3-bar .w3-button {
  padding: 16px;
}