
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

.banner-photo {
  background-position: center;
  background-size: cover;
  background-image: url("../images/photo-james-SR.jpg");
  min-height: 80%;
  min-width: 100%;
}

.bg-portrait-photo {
  background-position: center;
  background-image: url("../images/photo-james-4x3.jpg");
  object-fit: cover;
}

.article-card {
  text-align: justify; 
  padding-left: 20px;
  padding-right: 15px;
  background-color:rgb(255, 255, 255);
}

.news {
  display: table;
  padding: 5px;
  border-spacing: 15px;
}

.news-card {
  display: table-row;
  text-align: justify; 
  vertical-align:middle;
  padding: 15px;
  /*background-color: rgb(221, 218, 218)*/
}
.news-cell-a{
  display: table-cell;
  text-align:center;
  vertical-align:middle;
  width:20%;
}
.news-cell-b{
  display: table-cell;
  border-top-width: 20px;
}

.button-blue{
  color:azure;
  background-color:rgb(30, 30, 97);
  position:relative;                  
  bottom:0;                          
  left:0; 
}

.w3-bar .w3-button {
  padding: 12px;
}

.image{
  display:block; 
  margin-left:auto; 
  margin-right:auto; 
  height:280px;
  width:100%;
}

.scroll-block {
  display:block;
  width:100%;
  height:70px;
  background-color:#475;
  overflow:scroll;
  }

.software-container {
    display:block;
    margin-top:30px;
    background-color:rgb(180, 185, 182);
    /*height: fit-content;*/
    height: max-content;
    padding: 10px;
  }

.software-card {
  padding: 15px;
  background-color: white;
  /*height: 700px;*/
  vertical-align:text-bottom;
}

#container {
  background: #EEE;
  display:flex;
  flex-direction: column;
}
#bottom {
  margin-top: auto;
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
}

.text-justify {
  text-align: justify;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* LinkedIn */
.fa-linkedin {
  background: #0d324e;
  color: white;
}
/* LinkedIn */
.fa-github {
  background: #161615;
  color: white;
}
/* LinkedIn */
.fa-scholar {
  background: #300eca;
  color: white;
}
.square {
  width: 100%;
  height: 65;
  padding-top: 100%;
}